@model IEnumerable<CUBOOLAP.Models.ServiciosTransporte>

@{
    ViewData["Title"] = "Crear Reportes";
}

<h2>Reportes de Cubo Transporte</h2>

<!-- Botón para regresar al Panel de Analista -->
<a href="@Url.Action("AnalystDashboard", "Analista")" class="btn btn-outline-secondary mb-3">Atrás</a>

<table class="table table-bordered table-striped table-hover table-sm">
    <thead class="thead-dark">
        <tr>
            <th>ID Servicio</th>
            <th>ID Cliente</th>
            <th>ID Vehículo</th>
            <th>ID Conductor</th>
            <th>ID Ruta</th>
            <th>Fecha Salida</th>
            <th>Fecha Llegada</th>
            <th>Estado</th>
            <th>Costo</th>
            <th>Peso de la Carga</th>
            <th>Descripción de la Carga</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ID_Servicio</td>
                <td>@item.ID_Cliente</td>
                <td>@item.ID_Vehiculo</td>
                <td>@item.ID_Conductor</td>
                <td>@item.ID_Ruta</td>
                <td>@item.Fecha_Salida.ToShortDateString()</td>
                <td>@item.Fecha_Llegada.ToShortDateString()</td>
                <td>@item.Estado</td>
                <td>@item.Costo.ToString("C")</td>
                <td>@item.Peso_Carga</td>
                <td>@item.Descripcion_Carga</td>
            </tr>
        }
    </tbody>
</table>
